server:
  port: 8080
spring:
  application:
    name : studySpring
  main:
    lazy-initialization: true     # Ch? kh?i t?o các bean khi c?n
  datasource:
    mysql:
      url: jdbc:mysql://localhost:3306/ecommerce
      username: root
      password: quannguyen2004
  jpa:
    hibernate.ddl-auto: update
#      driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    org.hibernate.SQL: DEBUG


